@using System.Threading
@using HomeBlaze.Abstractions.Services;
@using HomeBlaze.Abstractions;
@using HomeBlaze.Components.Extensions;
@using HomeBlaze.Components.Graphs;
@using HomeBlaze.Components.Inputs
@using HomeBlaze.Services
@using MudBlazor
@using Radzen.Blazor
@using System.Text.Json.Serialization;

@inject IStateManager StateManager
@inject IThingManager ThingManager

<MudDialog>
    <TitleContent>@(Thing?.Title): @PropertyName</TitleContent>
    <DialogContent>
        <MudButton Variant="Variant.Filled" Color="Color.Primary"
                   Disabled="@IsLoading"
                   Style="float: right; margin-left: 16px; margin-top: 8px"
                   OnClick="(() => ToggleDetails())">
            @(ShowDetails ? "Plot" : "Configure...")
        </MudButton>

        <MudSelect T="int" Label="Type" @bind-Value="NumberOfHours" Disabled="@IsLoading">
            <MudSelectItem Value="1" T="int">1 Hour</MudSelectItem>
            <MudSelectItem Value="4" T="int">4 Hours</MudSelectItem>
            <MudSelectItem Value="6" T="int">6 Hours</MudSelectItem>
            <MudSelectItem Value="12" T="int">12 Hours</MudSelectItem>
            <MudSelectItem Value="24" T="int">1 Day</MudSelectItem>
            <MudSelectItem Value="48" T="int">2 Days</MudSelectItem>
            <MudSelectItem Value="168" T="int">7 Days</MudSelectItem>
            <MudSelectItem Value="720" T="int">30 Days</MudSelectItem>
        </MudSelect>

        <br />
        <div style="height: calc(100vh - 150px); overflow-y: auto;">
            @if (ShowDetails)
            {
                @foreach (var series in Series)
                {
                    <MudIconButton Icon="@Icons.Material.Filled.Delete"
                                   OnClick="@(() => Series.Remove(series))" Style="float: right"
                                   Variant="Variant.Filled" Color="Color.Error"></MudIconButton>

                    <div style="background-color: @(series.Color); padding-left: 8px; padding-top: 4px; padding-bottom: 3px">
                        <h2>Series @(Series.IndexOf(series) + 1)</h2>
                    </div>

                    <ThingSelect Label="Thing ID"
                    @bind-ThingId="series.ThingId"
                                 Required="false" />

                    <ThingPropertySelect Label="Property"
                    @bind-PropertyName="series.PropertyName"
                                         ThingId="@series.ThingId"
                                         Disabled="@(series.ThingId == null)"
                                         Required="false" />

                    <MudColorPicker Label="Color" @bind-Text="@series.Color" Required="true" DisableAlpha="true" />

                    <br />
                    <br />
                }

                <MudButton StartIcon="@Icons.Material.Filled.Add"
                           OnClick="@(() => Series.Add(new SeriesDto()))"
                           Variant="Variant.Filled" Color="Color.Primary">Additional Series</MudButton>
            }
            else
            {
                @if (IsLoading)
                {
                    <br />
                    <MudProgressCircular Color="Color.Primary" Indeterminate="true" />
                }
                else
                {
                    @if (Series.Any(s => s.Values.Length > 0))
                    {
                        <RadzenChart Style="width: 100%; height: calc(100vh - 170px)">
                            <RadzenLegend Visible="false" Position="LegendPosition.Bottom"></RadzenLegend>
                            @foreach (var series in Series.Where(s => s.Values.Length > 0))
                            {
                                <RadzenLineSeries Smooth="false"
                                                  Data="@series.Values"
                                                  CategoryProperty="Date"
                                                  Title="@(series.Thing?.Title + ": " + series.PropertyName)"
                                                  LineType="LineType.Solid"
                                                  StrokeWidth="4"
                                                  Stroke="@series.Color"
                                                  ValueProperty="Value">
                                    <RadzenMarkers MarkerType="MarkerType.None" />
                                </RadzenLineSeries>
                            }
                            <RadzenValueAxis>
                                <RadzenGridLines Visible="true" />
                            </RadzenValueAxis>
                            <RadzenCategoryAxis Formatter="@FormatTime">
                            </RadzenCategoryAxis>
                        </RadzenChart>
                    }
                    else if (Values.Any())
                    {
                        <pre>
                            @foreach (var val in Values.Reverse())
                            {
                                @($"{val.DateTime}\n    {val.RawValue ?? "(null)"}\n\n")
                            }
                                                                        </pre>
                    }
                }
            }
        </div>
    </DialogContent>
    <DialogActions>
        @if (!ShowDetails && !IsLoading)
        {
            <span style="position: absolute; left: 12px">
                <span style="word-break: keep-all"><strong>Average: </strong>@Math.Round(Average, 2)&nbsp;&nbsp;&nbsp;</span>
                <span style="word-break: keep-all"><strong>Max: </strong>@Math.Round(Maximum, 2)&nbsp;&nbsp;&nbsp;</span>
                <span style="word-break: keep-all"><strong>Min: </strong>@Math.Round(Minimum, 2)&nbsp;&nbsp;&nbsp;</span>
                <span style="word-break: keep-all"><strong>Diff: </strong>@Math.Round(Difference, 2)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>

                @foreach (var series in Series.Where(s => s.Values.Length > 0))
                {
                    <span style="word-break: keep-all">
                        <span style="background-color: @(series.Color); min-width: 32px; height: 32px">&nbsp;</span>
                        @series.Thing?.Title: @series.PropertyName
                        &nbsp;&nbsp;&nbsp;
                    </span>
                }
            </span>
        }
        <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="@(() => DialogInstance?.Close(null))" Class="px-10">Close</MudButton>
    </DialogActions>
</MudDialog>

@code {
    private int _numberOfHours = 24;

    private bool IsInitialized { get; set; } = false;
    private bool IsLoading { get; set; } = true;
    private bool ShowDetails { get; set; } = false;

    private int NumberOfHours
    {
        get => _numberOfHours;
        set
        {
            _numberOfHours = value;

            if (!ShowDetails)
            {
                Task.Run(async () => await RefreshAsync());
            }
        }
    }

    private decimal Average { get; set; } = 0;
    private decimal Minimum { get; set; } = 0;
    private decimal Maximum { get; set; } = 0;
    private decimal Difference { get; set; } = 0;

    private List<SeriesDto> Series { get; } = new List<SeriesDto>();

    class SeriesDto
    {
        public string? ThingId { get; set; }

        public string? PropertyName { get; set; }

        public string Color { get; set; } = ColorUtilities.GenerateVibrantColor();

        [JsonIgnore]
        public IThing? Thing { get; set; }

        [JsonIgnore]
        public ChartItem[] Values { get; set; } = Array.Empty<ChartItem>();
    }

    private ChartItem[] Values { get; set; } = new ChartItem[0];

    [Parameter]
    public IThing? Thing { get; set; }

    [Parameter]
    public string? PropertyName { get; set; }

    [CascadingParameter]
    public MudDialogInstance? DialogInstance { get; set; }

    public async void ToggleDetails()
    {
        ShowDetails = !ShowDetails;
        await InvokeAsync(StateHasChanged);

        if (!ShowDetails)
        {
            await RefreshAsync();
        }
    }

    public static async Task ShowAsync(IDialogService dialogService, IThing thing, string propertyName)
    {
        await dialogService.Show<StateHistoryDialog>(string.Empty,
            new DialogParameters
            {
                { "Thing", thing },
                { "PropertyName", propertyName }
            },
            new DialogOptions
            {
                CloseOnEscapeKey = true,
                NoHeader = true,
                FullScreen = true
            }).Result;
    }

    string FormatTime(object value)
    {
        return ((DateTime)value).ToString("HH:mm");
    }

    protected override async Task OnInitializedAsync()
    {
        IsInitialized = true;

        Series.Add(new SeriesDto
        {
            ThingId = Thing?.Id,
            PropertyName = PropertyName,
            Color = "#776BE7"
        });

        await RefreshAsync();
    }

    private async Task RefreshAsync()
    {
        if (!IsInitialized)
        {
            return;
        }

        IsLoading = true;

        var delay = Task.Delay(500);

        var startDate = DateTimeOffset.Now.AddHours(NumberOfHours * -1);
        var endDate = DateTimeOffset.Now;
        var duration = endDate - startDate;

        var rawValues = await StateManager.ReadStateAsync<object>(
            Thing!.Id!, PropertyName!, startDate, endDate, CancellationToken.None);

        Values = rawValues
            .Select((v, i) => new ChartItem
                {
                    Index = i,
                    DateTime = v.Item1,
                    RawValue = v.Item2
                })
            .OrderBy(v => v.DateTime)
            .ToArray();

        await delay;

        try
        {
            foreach (var series in Series
                .Where(s => !string.IsNullOrEmpty(s.ThingId) && !string.IsNullOrEmpty(s.PropertyName)))
            {
                var thing = ThingManager.TryGetById(series.ThingId);
                var state = ThingManager.TryGetPropertyState(series.ThingId, series.PropertyName, true);

                var rawValues2 = await StateManager.ReadStateAsync<object>(
                    series.ThingId!, series.PropertyName!, startDate, endDate, CancellationToken.None);

                var values = rawValues2
                    .Select((v, i) => new ChartItem
                        {
                            Index = i,
                            DateTime = v.Item1,
                            RawValue = v.Item2
                        })
                    .OrderBy(v => v.DateTime)
                    .ToArray();

                series.Values = ChartSeriesUtilities.CleanUp(state, values, NumberOfHours);
                series.Thing = thing;
            }

            var chartItems = Series.FirstOrDefault();
            if (chartItems?.Values.Any() == true)
            {
                Minimum = (decimal)chartItems.Values.Select(v => v.Value).Min();
                Maximum = (decimal)chartItems.Values.Select(v => v.Value).Max();
                Average = chartItems.Values.GetSegments().WeightedAverage(
                    s => (decimal)((s.First.Value + s.Second.Value) / 2.0),
                    s => (decimal)(s.Second.Date - s.First.Date).TotalMilliseconds);
                Difference = Maximum - Minimum;
            }
        }
        catch
        {
        }
        finally
        {
            IsLoading = false;
        }

        await InvokeAsync(StateHasChanged);
    }
}