@using MudBlazor

@if (Variables != null)
{
    <div style="position: relative">
        <MudIconButton Icon="@Icons.Filled.Add" OnClick="@(() => Variables.Add(new PropertyVariable()))"
                   Variant="Variant.Filled" Color="Color.Primary"
                   Style="position: absolute; right: 6px; top: 6px; z-index: 1000"></MudIconButton>

        <MudTabs>
            @foreach (var variable in Variables)
            {
                <MudTabPanel Icon="@Icons.Outlined.Label" Text="@(!string.IsNullOrEmpty(variable.Name) ? variable.Name : "n/a")"
                     Tag="@variable" Style="justify-content: left">

                    <br />
                    <MudIconButton Icon="@Icons.Filled.Delete"
                           OnClick="@(() => Variables.Remove(variable))"
                           Style="float: right; margin-right: 6px; margin-left: 6px; margin-top: 12px"
                           Variant="Variant.Filled" Color="Color.Error"></MudIconButton>

                    <PropertyVariableEditor Variable="variable" />
                </MudTabPanel>
            }
        </MudTabs>
    </div>
}

@code {
    [Parameter]
    public IList<PropertyVariable>? Variables { get; set; }
}
